.cover, .lot-list {
    background-color: #8B8787;
}


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 93px 50px 95px 50px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style-type: circle;
    gap: 28px;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo img {
    width: 130px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    line-height: 1.35;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 /0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover {
    position: relative;
    background: url("../images/cover.jpg") no-repeat center/cover;
    width: 100%;
    min-height: 757px;
    margin-bottom: 180px;
    color: #fff;
}

.cover__title {
    position: relative;
    text-transform: uppercase;
    padding: 165px 50px 53px 50px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-align: center;
    line-height: 115px;
    z-index: 2;
}

.aligned-text__left {
    display: flex;
    align-self: start;
    padding-bottom: 20px;
}

.aligned-text__right {
    display: flex;
    align-self: end;
    justify-content: end;
}

.aligned-text__center {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 53px 50px 50px 50px;
    gap: 107px;
    justify-content: center;
}

.cover__description-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18px;
    line-height: 1.3;
    align-self: center;
}

.bet-button {
    background: none;
    border: 1px solid #fff;
    outline: none;
    font-size: 22px;
    color: #fff;
    line-height: 100%;
    text-transform: uppercase;
    padding: 14px 32px;
    align-self: center;
}


.lots {
    margin: 0 24px 120px;
}

.lots__heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    padding: 0 0 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 596px;
    background-size: cover;
    background-position: center;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-link {
    text-decoration: none;
}

.card__title {
    color: #fff;
    text-decoration: underline solid #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    z-index: 2;
}

.card__text {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 2;
}

.lots__look-more-link {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding-top: 35px;
    margin: 0 24px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background: #000;
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title-text {
    padding-top: 101px;
    padding-left: 25px;
}

.about__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    padding-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    font-weight: 400;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    position: relative;
    padding: 0 50px 82px;
}

.address__footer {
    justify-self: start;
    list-style: none;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-self: end;
}

.footer__social-icon {
    height: 48px;
}
